<html>

<head>
<title> Design your blocks: <title>
</ead>

<body>
<!use something like Jinja with a for loop to ask for a length and type of day used for each block user wants

//uses jinja for a for loop in the html attributes>

{% for i in range(blocknum) %}
<form form action = "GetBlocks" method = "get">
<tr>
    <!create a table which will ask for the details of each block the user wants>
    <td>
        
        <select name="Type of day" id = "DayType">

            <option value="weekday">weekday</option>

            <option value="weekend or holiday"> Weekend or holiday </option>

        </select>

    </td>

    <td>

        <input type="number" name = "sizeOfBlock">
    </td>
</tr>
</form>
{% endfor %}

</body>
</html>